.myFooter__handler{
    background-image: url('../../assets/bg/footer-bg.png');
    background-position: 50%;
    background-size: cover;
    padding-top: 80px;
    position: relative;
    z-index: 1;
}
.footer__box .footer__logo{
    margin-bottom: 30px;
}
.footer__box .footer__logo img{
    width: 170px;
}
.footer__box .footer__socialMedia li{
    display: inline-block;
    padding-right: 25px;
}
.footer__box .footer__socialMedia li a{
    border: 1px solid #28292b;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    transition: all .8s ease-out 0s;
    width: 35px;
}
.footer__box .footer__socialMedia li a:hover{
    background-color: var(--dark-gold-color);
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
}
.footer__box h4{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: .03em;
    margin-bottom: 15px;
}
.footer__menu li{
    display: block;
    padding-bottom: 15px;
}
.footer__menu li a{
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: all .5s ease-out 0s;
}
.footer__menu li a::before{
    background-color: var(--dark-gold-color);
    border-radius: 50%;
    content: "";
    height: 10px;
    left: -20px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .5s ease-out 0s;
    visibility: hidden;
    width: 10px;
}
.footer__menu li a:hover{
    color: var(--dark-gold-color);
    padding-left: 15px;
}
.footer__menu li a:hover:before{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.footer__box .phone__numbers,
.footer__box .official__mail
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.footer__box .phone__numbers .phone__icon,
.footer__box .official__mail .mail__icon
{
    min-width: 35px;
}
.footer__box .phone__numbers .phone__icon i,
.footer__box .official__mail .mail__icon i
{
    color: var(--dark-gold-color);
    font-size: 20px;
}
.footer__box .phone__numbers .phone a,
.footer__box .official__mail .email a
{
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .03em;
    padding-bottom: 5px;
    transition: all .5s ease-out 0s;
}
.footer__box .phone__numbers .phone a:hover,
.footer__box .official__mail .email a:hover
{
    color: var(--dark-gold-color);
}
.footer__bottom{
    border-top: 2px solid #292929;
    margin-top: 80px;
    padding: 30px 0;
}
.footer__bottom .copy__text span{
    color: #fff;
    font-size: 14px;
}
.footer__bottom .copy__text span a{
    color: #fff;
    font-weight: 700;
    transition: all .5s ease-out 0s;
}
.footer__bottom .copy__text span a:hover{
    color: var(--dark-gold-color);
}
@media (max-width: 767px){
    .footer__box{
    margin-bottom: 50px;

    }
}

